<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Authentication: <%= auth %></p>
    <form method="POST" action="">
      <button type="submit">Pay Now</button>
    </form>
  </body>
</html>
